/*===================
Base style - Mobile
===================*/

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: black;

	&:hover {
		color: #218AB2;
	}
}

main {
	@include full-width;
	background: #E3E3E3;

	.intro {
		@include row;
		@include group;
		background: white;
		text-align: left;

		h1 {
			@include columns(12);
			@include rem(margin-top, 2);
			@include rem(margin-bottom, 2);
		}

		p {
			@include columns(12);
			float: none;
		}

		ul {
			@include columns(12);
			@include rem(margin-top, 2);
			@include rem(margin-bottom, 2);
			

			li {
				list-style: none;
			}
		}
	}

	.guide {
		@include row;
		@include group;
		padding: 2em 0;
		background: white;

		article {
			@include columns(12);

			ul {
				@include inline-block;

				li {
					@include rem(margin-left, 1.5);
				}
			}
		}
	}

	section[class*='example-']{
		@include row;
		@include group;		
		@include rem(padding-top, 2);
		background: white;

		h2 {
			@include columns(12);
			@include rem(padding-bottom, 2);

		}

		p {
			@include rem(margin-bottom, 2);
		}
		
		&.example-1 {
			article {
				@include columns(12);
			}
		}

		&.example-2 {
			article {
				@include columns(12);
			}
		}

		&.example-3 {
			article:first-of-type {
				@include columns(12);
			}

			article:last-of-type {
				@include columns(12);
			}
		}	
	}
}